@import url('../common.css');

.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  padding: 10px 0;
}

.addBtn {
  width: 50px;
  font-size: medium;
  font-weight: bold;
}

.inputTodo{
  width: 200px;
  height: 30px;

  border: 1px solid rgb(140, 140, 219);
}

.inputValid{
 border: 1px solid blue;
}

.inputInalid{
 border: 1px solid rgb(255, 30, 0);

}

.dataInvalid{
 border: 1px solid rgb(255, 30, 0);

}